/* Name: Ganesh Khadka Studeent Number: 17421478*/
@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
/*this for importing goolgle fonts*/
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
body{
  margin: 0;
  padding: 0;
} /*this is the property for whole body */

h1,h2,h3,h4,h5,h6,p,ul{
  margin:0;
  padding: 0;
}/*this to provide default value for whole boody*/

header{
  padding: 0.5%;
  display: flex;  /*this to use flex properties*/
  flex-flow: row;
  height: 140px;
  background: purple;  /*this for property of background if gradient is not supported*/
  background: linear-gradient(purple, pink);
}/*this for property of of header*/

.logo img{
  width: 125px;
  height: 80px;
  margin: 5px 10px 0 0;
  padding: 25px 25px 0;
  transition: transform 2s;  /*this for property of logo transform of header part*/
}/*this for property of image(logo) of header part*/

.logo img:hover{
  transform: translate(10px);
}/*this for property of logo transform during hover*/

.mainheading{
  width: 50%;
  text-align: right;
  padding-top: 35px;
  font-size: 1.7em;
}/*this for property of mainheading*/

.mainheading h1{
  color: orange;
  text-shadow:3px 3px 4px black;
}/*this for property of font of main heading*/

section{
  width: 100%;
}/*this for property of whole section part*/
  .menubar{
    width: 100%;
    top:0px;
    line-height:0px;
  }  /*this for property of menu part containing nav*/

  .menubar nav{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 0.5% 1%;
    line-height: 2.5em;
    background: gold;
  }  /*this is for property of nav of menubar*/

  .abc{
    background: grey ;
    border-radius:1%;
  }
  .menubar a{
    text-decoration: none;
    font-size: 2.2em;
    color: purple;
    padding:0% 2em;
    transition: width 0.5s, height 0.5s, transform 0.5s;
  }  /*this for property of font of menubar*/

  .menubar a:hover{
    color:red;
    text-shadow: 2px 2px black;
    transform: scale(1.1, 1.1);
  }  /*this is for property of nav of menubar during hover*/

  .maincontent{
    width: 100%;
    display: flex;
    flex-direction: row;
  }  /*this is for property of maincontent of section part*/

	.leftpart{
    width:25%;
    background-color: purple;
    padding-bottom: 60px;
  }  /*this is for property of leftbaar*/

  .leftpart h2{
    font-size: 3.7em;
    color: white;
    padding-top: 60px;
    text-align: center;
    text-shadow: 4px 4px 3px gold;
  } /*}this is for the font in the heading in leftbar*/

  .leftpart h3{
    font-size: 2.5em;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 3px cyan;
  } /*this is for the font in the heading in leftbar*/

	.homepart{
    width: 56%;
    background-color: lightgreen;
    padding: 10px 1% 20px;
    height: 420px;
  } /*this is for property of homepart*/

  .homepart img{
    width: 100%;
    height:50%;
  }/*}this is for the image in the homepart*/

  .homepart ul{
    list-style-type: none;
    font-size: 1.2em;
  }  /*}this is for umordered list of link in the homepart*/

  .homepart a{
    text-decoration: none;
    color:blue;
  }  /*}this is for the font of the link in the homepart*/

  .homepart a:hover{
    text-decoration: underline;
  }  /*this is the property of link during hover in the homepart*/

  .cvpart{
    width: 56%;
    background-color: lightgreen;
    padding:15px 30px;
    font-family: 'Special Elite', cursive;
  }  /*}this is the property for the cv part of cv page*/

  .biopart{
    width: 56%;
    background-color: lightgreen;
    padding: 1%;
    text-align: justify;
  }  /*}this is the property for the biopart of bio page*/
  .biopart h2{
    font-size: 2em;
    color: red;
    text-shadow: 2px 2px 1px blue;
    padding-bottom: 10px
  }
  .biopart p{
    font-family:'Lobster Two', cursive;
}


  .contactpart{
    background-color: lightgreen;
    width: 56%;
    display: flex;
    flex-direction: row;
    padding:1%;
  }  /*this is for property of contact block of contact page*/

  .contactpart h2{
    margin: 2px 14PX 0 0;
    padding: 2px 15px;
    color: orange;
  }  /*this is for property of heading of contact part*/

  form{
    font-size: 1.12em;
    background: lightgreen;
    padding-left:15px;
    margin-left: 1%;
  }  /*this is for property of formpart of contact part*/

  input{
    border-radius:5px;
    border: 0.5px solid gold;
  }  /*this is for property of input box of contact page*/

  .submit{
    cursor: pointer;
    margin: 4px;
  }
  .stayconnected{
    width: 18%;
    padding-left: 2px;
    background-color: purple;
  }  /*this is for property of stayconnected of contactpart*/

  .stayconnected h2{
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding-top: 100px;
    text-shadow: 4px 4px 3px cyan;
  }  /*this is the property of text of heading of stayconnected div*/

  .rightpart{
    width: 18%;
    background: purple;
  }  /*this is for property of rightpart*/

  .rightpart img{
    position: relative;
    padding: 4px 10px;
    transition: transform 1s;
    padding-left: 1px;
  }  /*this is the property of image of rightpart*/

  .rightpart img:hover{
    transform: scale(1.05, 1.05);
  }/*this is for property for transform during hover on image*/

footer{
  background: grey;
  padding: 2%;
  text-align: left;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}/*this is for property of footer*/

.copyright{
  width: 50%;
  padding: 1.5em 1% 0 0;
}/*this is for property of copyright of footer*/

.socialconnect{
  width: 50%;
  padding-left: 1%;
}/*this is for property of stayconnected of footer*/

.socialconnect img{
  margin-right: 2%;
  transition: transform 1s;
}/*this is for icons of socialconnect of footer*/

.socialconnect img:hover{
  transform: rotate(50deg);
}/*this is for property of icons of social sites of footer during hover*/


@media all and (max-width: 400px)
/*this is for providing responsive design of the webpage*/
{
body{
  width: 100%
}
header{
  width: 100.1%;
  height: 150px;
}
.mainheading h1{
  font-size: 1.5em;
  text-align: left;
  text-align: justify;
}
.logo img{
  height: 50px;
  width: 50px;
  margin-top: 35px;
}
.logo p{
  font-size: 16px;
}

section{
  width: 100%;
}
.menubar{
  width: 100%;
}
.menubar nav{
  flex-flow: column;
  width: 99%;
  text-align: center;
}
.menubar nav a{
  margin-bottom: 0.6em;
  font-size:20px;
  border: 1px solid white;
}
.menubar nav a:hover{
  transform: none;
}
.maincontent{
  flex-flow: column wrap;
  width: 100%;
}
.leftpart{
  width: 101%;
}
.leftpart h2{
  font-size: 2.5em;
  padding-top: 20px;
}
.leftpart h3{
  font-size: 2em;
  padding-bottom: 20px;
}
.homepart{
  width: 99%;
}
.contactpart{
  width: 99%;
}
.contactpart textarea{
  width: 280px;
}
.cvpart{
  width: 84.5%;
}
.biopart{
  width: 100%;
}
.rightpart{
  width: 101%;
}
.profilepic{
  background-size: cover;
  width:100%;
}
.profilepic img{
  margin-left: 50px;
}
.profilepic img:hover{
  transform: none;
}/*during resposvive transform during hover for profile pic has not been set*/

.stayconnected{
  width: 100.5%;
  height: 200px;
}/*this is for property of stayconnected for responsive design*/

.stayconnected h2{
  font-size: 2em;
  padding:50px 0;
}

footer{
  flex-direction: column-reverse; width: 97%;
}/*this is for property of footer part for responsive design*/

.copyright{
  margin-top: 0em;
}
.socialconnect{
  margin:0 0px 0.6em 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}/*this is for property of socail connect for responsive design*/

.socialconnect img{
  height: 50px;
  width: 50px;
  padding:0 60%;
}/*this is for property of icons of social media for responsive design*/
}
